<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <p><%= content %></p>
        <form method="POST" action="/hello/add">
        <table>
            <tr>
                <th>NAME</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>MAIL</th>
                <td><input type="text" name="mail"></td>
            </tr>
            <tr>
                <th>AGE</th>
                <td><input type="number" name="age"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="作成"></td>
            </tr>
        </table>
        </form>
    </div>
</body>
</html>